@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-russo: 'Russo One', sans-serif;
  --c-text-white: 255 255 255;
  --c-text-grey: 217 214 206;
  --c-text-light: 248 242 232;
  --c-blue: 0 136 204;
  --c-green: 14 131 103;
  --c-brown: 191 158 73;
  --c-yellow: 245 193 54;
  --c-lightgrey: 89 108 118;
  --c-grey: 123 123 123;
  --c-wallet: 126 118 86;
  --c-darkblue: 43 75 96;
  --c-border: 123 123 123;
  --c-tabs: 19 47 66;
  --c-card: 57 98 124;
  --c-cardboost: 86 129 156;
  --c-lightblue: 114 139 151;
  --c-lightgreen: 74 222 185;
  --input-red: 250 84 75;
  --width-limit: 540px;
  --height-limit: 915px;
  --screen: 100vh;
  --nav-height: 146px;
  --dark-yellow: #95804c;
  --dark-green: #186f5a;
  font-family: var(--font-russo);
  color: #fff;
}

html {
  height: 100dvh;
  overflow: hidden;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-russo);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--c-text);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.page-circle:before {
  z-index: 0;
  content: '';
  position: absolute;
  width: 125%;
  height: 125%;
  left: -10%;
  top: -10%;
  filter: blur(30px);
  border-radius: 50%;
  background-color: #bf9e49e3;
}

.bg-nav {
  background: linear-gradient(360deg, #6d6a57 0%, #2d4e61 96.64%);
}

.bg-header {
  background: linear-gradient(0deg, rgba(90, 79, 49, 0.1) 4.2%, rgba(41, 36, 36, 0.5) 29.03%, #292424 105.34%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.spinner-rotate {
  animation: rotate 1.9s linear infinite;
}
.spinner-dash {
  animation: dash 1.4s ease-in-out infinite;
}

.spinner-arrows {
  position: relative;
  width: 40px;
  height: 32px;
  display: flex;
  border-radius: 10px;
  margin-top: -2px;
}

.spinner-arrows i {
  width: 7%;
  height: 20%;
  background: white;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.spinner-arrows i:nth-child(1) {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.spinner-arrows i:nth-child(2) {
  transform: rotate(45deg) translate(0, -130%);
  animation-delay: -0.834s;
}

.spinner-arrows i:nth-child(3) {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.833s;
}
.spinner-arrows i:nth-child(4) {
  transform: rotate(135deg) translate(0, -130%);
  animation-delay: -0.7497s;
}
.spinner-arrows i:nth-child(5) {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.667s;
}
.spinner-arrows i:nth-child(6) {
  transform: rotate(225deg) translate(0, -130%);
  animation-delay: -0.5s;
}
.spinner-arrows i:nth-child(7) {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.334s;
}
.spinner-arrows i:nth-child(8) {
  transform: rotate(315deg) translate(0, -130%);
  animation-delay: -0.167s;
}

.card-shadow {
  box-shadow:
    0px 4px 10px rgb(var(--c-tabs) / 0.7),
    inset 0px 2px 8px #547890;
  border: 2px solid #0000;
  background:
    conic-gradient(rgb(var(--c-card)) 0 0) padding-box,
    linear-gradient(180deg, #547891 0%, rgb(var(--c-tabs)) 100%) border-box;
}

.card-level-shadow {
  text-shadow:
    1px 1px 0 rgb(var(--c-darkblue)),
    -1px -1px 0 rgb(var(--c-darkblue)),
    1px -1px 0 rgb(var(--c-darkblue)),
    -1px 1px 0 rgb(var(--c-darkblue));
}

.card-level-clip {
  clip-path: polygon(20% 0, 87% 0, 100% 84%, 6% 83%);
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .perspective {
    perspective: 500px;
  }

  .arbutus {
    font-family: 'Arbutus', sans-serif;
  }

  .roboto {
    font-family: 'Roboto';
  }

  .shadow-heading {
    text-shadow:
      0px 4px 8px rgba(0, 0, 0, 0.3),
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
  }
}

.trans-z-40 {
  transform: translateZ(-40px);
}

.left-wallet-img {
  transform: rotateY(57deg) rotateZ(-15deg) rotateX(-10deg);
  transform-origin: left;
  left: calc(50% - 200px);
  top: calc(50% - 310px);
}

.right-wall-img {
  left: calc(50% + 125px);
  top: calc(50% - 272px);
  transform: rotateY(26deg);
}

.farming-btn {
  bottom: calc(50% - ((min(var(--height-limit), var(--screen)) / 2) - 160px));
}

.stats {
  top: calc(50% - (var(--height-limit) / 2.9));
  border-radius: 12px;
  width: 256px;
  height: 50px;
  background: linear-gradient(
    87.46deg,
    rgba(138, 120, 88, 0.7) 3.68%,
    rgba(184, 180, 174, 0.7) 53.35%,
    rgba(138, 120, 88, 0.7) 98.92%
  );
  backdrop-filter: blur(4px);
}

.stats-amount {
  width: 262px;
  top: -7px;
}

@media screen and (max-width: 400px) {
  .stats-amount,
  .stats {
    width: 200px;
  }
  .right-wall-img {
    left: calc(50% + 87px);
    top: calc(50% - 279px);
    transform: rotateY(18deg);
  }
  .left-wallet-img {
    transform: rotateY(23deg) rotateZ(-5deg) rotateX(-10deg);
    left: calc(50% - 177px);
  }
}

@media screen and (max-height: 800px) {
  .stats {
    top: calc(50% - (var(--screen) / 2.6));
  }
}

@media screen and (max-height: 755px) {
  .farming-btn {
    bottom: calc(50% - ((min(var(--height-limit), var(--screen)) / 2) - 104px));
  }
  :root {
    --nav-height: 102px;
  }
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.toaster .base {
  background-color: rgb(var(--c-green)) !important;
  color: white !important;
  font-size: 14px;
  width: 90%;
  padding: 6px;
  justify-content: center;
  max-width: 320px;
}
.toaster .message {
  flex: none !important;
  margin: 4px 0px 4px 7px !important;
}
.toaster .indicator {
  margin-top: -2px;
}
