@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-russo: 'Russo One', sans-serif;
  --c-text-white: 255 255 255;
  --c-text-grey: 217 214 206;
  --c-text-light: 248 242 232;
  --c-blue: 0 136 204;
  --c-green: 14 131 103;
  --c-brown: 191 158 73;
  --c-yellow: 245 193 54;
  --c-lightgrey: 89 108 118;
  --c-grey: 123 123 123;
  --c-wallet: 126 118 86;
  --c-darkblue: 43 75 96;
  --c-border: 123 123 123;
  --width-limit: 540px;
  --height-limit: 915px;
  --screen: 100vh;
  --nav-height: 146px;
  font-family: var(--font-russo);
  color: #fff;
}

html {
  height: 100dvh;
  overflow: hidden;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-russo);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--c-text);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@layer components {
  .perspective {
    perspective: 500px;
  }

  .arbutus {
    font-family: 'Arbutus', sans-serif;
  }

  .roboto {
    font-family: 'Roboto';
  }

  .shadow-heading {
    text-shadow:
      0px 4px 8px rgba(0, 0, 0, 0.3),
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
  }
}

.page-circle:before {
  z-index: 0;
  content: '';
  position: absolute;
  width: 125%;
  height: 125%;
  left: -10%;
  top: -10%;
  filter: blur(30px);
  border-radius: 50%;
  background-color: #bf9e49e3;
}

.bg-nav {
  background: linear-gradient(360deg, #6d6a57 0%, #2d4e61 96.64%);
}

.bg-header {
  background: linear-gradient(0deg, rgba(90, 79, 49, 0.1) 4.2%, rgba(41, 36, 36, 0.5) 29.03%, #292424 105.34%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.spinner-rotate {
  animation: rotate 1.9s linear infinite;
}
.spinner-dash {
  animation: dash 1.4s ease-in-out infinite;
}

.spinner-arrows {
  position: relative;
  width: 40px;
  height: 32px;
  display: flex;
  border-radius: 10px;
  margin-top: -2px;
}

.spinner-arrows i {
  width: 7%;
  height: 20%;
  background: white;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.spinner-arrows i:nth-child(1) {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.spinner-arrows i:nth-child(2) {
  transform: rotate(45deg) translate(0, -130%);
  animation-delay: -0.834s;
}

.spinner-arrows i:nth-child(3) {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.833s;
}
.spinner-arrows i:nth-child(4) {
  transform: rotate(135deg) translate(0, -130%);
  animation-delay: -0.7497s;
}
.spinner-arrows i:nth-child(5) {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.667s;
}
.spinner-arrows i:nth-child(6) {
  transform: rotate(225deg) translate(0, -130%);
  animation-delay: -0.5s;
}
.spinner-arrows i:nth-child(7) {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.334s;
}
.spinner-arrows i:nth-child(8) {
  transform: rotate(315deg) translate(0, -130%);
  animation-delay: -0.167s;
}
